body{
  margin: 0px;
  padding: 0px;
 background-color: black;
}

#a{
  
background: linear-gradient(rgba(0,0,0,0.5),#008892) , url(images/akash.jpg);
  background-size: cover;
  background-position: center;
  height: 10vh;
  position: relative;
  top: 10px;
  left: 10px;
  right: 10px;
  width: 1420px;
  
}
#a{
  height: 600px;
}
.menubar {
  position: relative;
  text-align: center;
  color: white;
  left: 300px;
  bottom: 220px;
  }
.b a{
  text-decoration: none;
  color: white;
  display: inline-block;
}
.b ul li {
  padding: 20px;
  margin: 10px 20px;
 box-sizing: border-box;
 border: 1px solid hotpink;
 display: inline-block;
}

.active, .b ul li:hover {
 background-color: red;
 
 
}


.d{
  
  height: 1.5cm;
  width: 500px;
  position: relative;
  top: 200px;
  right: 300px;
  border-radius: 10px;
  font-size:25px;
  
}
 button{
  width: 200px;
  height: 50px;
  position: relative;
  top: 270px;
  right: 630px;
  border-radius: 10px  ;
  border-color: 2px;
  background: transparent;
  font-size: 30px;
  cursor: pointer;
 color: white;
 
}

button:hover{
  background: red;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 26px;
  z-index: -1;
 left: 0;
 bottom: 0;
}
.text{
  font-family: fantasy;
  font-size: 60px;
  position: relative;
  right: 280px;
  color: white;
}
.submenu{
  display: none;
}
 .menubar ul  li:hover .submenu{ 
  display: block;
  position: absolute;
  background: rgb(0, 0, 50);
 margin-bottom: 150px;
  margin-left: 20px;
  
  
} 
.menubar ul  li:hover .submenu ul li{
  display: block;
  margin: 10px;
  position: top;
  
}

.change{
  position: relative;
  left: 750px;
  top: 120px;
}

.image{
  
  display: inline-flex;
  padding: 40px;
  position: relative;
  right: 30px;
  
  
  
}
.image img {
  
  height: 500px;
  width: 350px;
  margin: 0px;
  padding: 20px;
  border-radius: 100px;
  border: 5px solid skyblue;
}

.image h1{
  position: relative;
  
color:  deepskyblue;
  top: 600px;
  display: inline-flex;
  right: 250px;
  
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.saurabh{
  position: relative;
 bottom: 1300px;
  right: 200px;
  height: 1200px;
  
  
}

 .saurabh img{
   width: 1400px;
   border: 5px solid deepskyblue;
   border-radius: 10px;
 }
 
 .top{
   
   display: inline-flex;
   height: 1000px;
   width:1900px;
   position: relative;
   top: 400px;
   overflow-x: auto;
 }
 .top img{
   margin: 30px;
   overflow-x: auto;
   
 }
 .books{
   font-size: 30px;
   display: inline-flex;
   }
   .books h1{
     
     font-size: 150px;
     color: deepskyblue;
     display: inline-block;
     font-family: fantasy;
     position: relative;
     bottom: 1000px;
     left: 400px;
   }
   .para {font-size: 50px;
   position: relative;
   left: 400px;
   display: inline-flex;
   bottom: 200px;
   color: white;
   font-family: fantasy;
     
   
   }
   
   .girl {
     position: relative;
     height: 10px;
     bottom: 10px;
     right: 0px;
     
   }
  .about{
    font-size: 80px;
    color: deepskyblue;
    position: relative;
    bottom: 2400px;
    left: 380px;
    
  }
  .video{
    position: relative;
    left: 10px;
    height: 500px;
    bottom: 100px;
  }
  
.boy img {
    position: relative;
    border-radius:75%;
    width: 300px;
    padding: 15px;
    margin: 10px;
    
  }
  .boy h1{
    position: relative;
    font-size: 30px;
    color: deepskyblue;
    bottom: 55px;
    left: 120px;
    
    
  }
  .boy{
    position: relative;
    bottom: 500px;
  }
  .boy p{
    font-size: 50px;
    position: relative;
    left: 400px;
    bottom: 150px;
    color: white;
    
  }
  .rate {
    float: left;
    height: 40px;
    
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '*';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.rate{
  position: relative;
  bottom: 4400px;
  font-size: 50px;
  left: 450px;
  
}
.x{
  position: relative;
  bottom: 3000px;
  height: 200px;
  left: 300px;
}
.y{
  position: relative;
  bottom: 2080px;
  height: 200px;
  
  right: 20px;
}
.z{
  position: relative;
  bottom: 1900px;
  height: 200px;
  left: 150px;
}
.foot img{
  border-radius: 50%;
  height: 90px;
  position: relative;
  right:1000px;
  margin: 50px;
  
  
}
.foot{
  background: white;
  background-size: cover;
  padding-left: 500px;
  display: inline-flex;
  padding-top: 0px;
}

.foot p{
  
  color: black;
  text-align: center;
  display: inline-flex;
  font-size: 50px;
  position: relative;
  top: 100px;
  right: 50px;
}